<!DOCTYPE html>
<html>
<head><title>Image Processing</title>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
</head>
<body>
<img src="D:/Projects/workspace_oxygen/FinalProject/sources/street_advertising/test_image_2.jpg">
<p>Image Folder: D:/Projects/workspace_oxygen/FinalProject/sources/street_advertising/test_image_2.jpg</p>
<h3>Emotional state based only on Saturnation and Brightness</h3>
<div style="background:#6683a2" id="colour-box"></div><p>#6683a2</p>
<p>Class number: 10</p>
<div style="background:#b99162" id="colour-box"></div><p>#b99162</p>
<p>Class number: 3</p>
<div style="background:#4f6271" id="colour-box"></div><p>#4f6271</p>
<p>Class number: 10</p>
<div style="background:#7fa2c1" id="colour-box"></div><p>#7fa2c1</p>
<p>Class number: 10</p>
<div style="background:#765f48" id="colour-box"></div><p>#765f48</p>
<p>Class number: 3</p>
<div style="background:#434e5b" id="colour-box"></div><p>#434e5b</p>
<p>Class number: 10</p>
<div style="background:#dee5e0" id="colour-box"></div><p>#dee5e0</p>
<p>Class number: 17</p>
<div style="background:#bf8627" id="colour-box"></div><p>#bf8627</p>
<p>Class number: 3</p>
<div style="background:#e8e0b7" id="colour-box"></div><p>#e8e0b7</p>
<p>Class number: 5</p>
<div style="background:#373e40" id="colour-box"></div><p>#373e40</p>
<p>Class number: 17</p>
<div style="background:#2a2f38" id="colour-box"></div><p>#2a2f38</p>
<p>Class number: 17</p>
<div style="background:#c6bfad" id="colour-box"></div><p>#c6bfad</p>
<p>Class number: 4</p>
<div style="background:#73767e" id="colour-box"></div><p>#73767e</p>
<p>Class number: 17</p>
<div style="background:#4c443b" id="colour-box"></div><p>#4c443b</p>
<p>Class number: 17</p>
<div style="background:#31291f" id="colour-box"></div><p>#31291f</p>
<p>Class number: 3</p>
<div style="background:#d5bb85" id="colour-box"></div><p>#d5bb85</p>
<p>Class number: 4</p>
<div style="background:#1c2126" id="colour-box"></div><p>#1c2126</p>
<p>Class number: 17</p>
<div style="background:#ce3e1f" id="colour-box"></div><p>#ce3e1f</p>
<p>Class number: 2</p>
<div style="background:#90957f" id="colour-box"></div><p>#90957f</p>
<p>Class number: 6</p>
<div style="background:#754f13" id="colour-box"></div><p>#754f13</p>
<p>Class number: 3</p>
<div style="background:#1e1b15" id="colour-box"></div><p>#1e1b15</p>
<p>Class number: 17</p>
<div style="background:#4e3920" id="colour-box"></div><p>#4e3920</p>
<p>Class number: 3</p>
<div style="background:#4c3310" id="colour-box"></div><p>#4c3310</p>
<p>Class number: 3</p>
<div style="background:#232c29" id="colour-box"></div><p>#232c29</p>
<p>Class number: 17</p>
<div style="background:#131c1a" id="colour-box"></div><p>#131c1a</p>
<p>Class number: 18</p>
<div style="background:#1c5dab" id="colour-box"></div><p>#1c5dab</p>
<p>Class number: 10</p>
<div style="background:#141310" id="colour-box"></div><p>#141310</p>
<p>Class number: 18</p>
<div style="background:#0b1412" id="colour-box"></div><p>#0b1412</p>
<p>Class number: 18</p>
<div style="background:#712517" id="colour-box"></div><p>#712517</p>
<p>Class number: 1</p>
<div style="background:#462b23" id="colour-box"></div><p>#462b23</p>
<p>Class number: 2</p>
<div style="background:#11131c" id="colour-box"></div><p>#11131c</p>
<p>Class number: 18</p>
<div style="background:#0c0c0c" id="colour-box"></div><p>#0c0c0c</p>
<p>Class number: 18</p>
<div style="background:#040404" id="colour-box"></div><p>#040404</p>
<p>Class number: 18</p>
<div style="background:#040c09" id="colour-box"></div><p>#040c09</p>
<p>Class number: 18</p>
<div style="background:#0b0b14" id="colour-box"></div><p>#0b0b14</p>
<p>Class number: 18</p>
<div style="background:#0c0c04" id="colour-box"></div><p>#0c0c04</p>
<p>Class number: 18</p>
<div style="background:#491a14" id="colour-box"></div><p>#491a14</p>
<p>Class number: 1</p>
<div style="background:#322104" id="colour-box"></div><p>#322104</p>
<p>Class number: 3</p>
<div style="background:#0c0404" id="colour-box"></div><p>#0c0404</p>
<p>Class number: 18</p>
<div style="background:#1c0c0b" id="colour-box"></div><p>#1c0c0b</p>
<p>Class number: 18</p>
<div style="background:#140c04" id="colour-box"></div><p>#140c04</p>
<p>Class number: 18</p>
<div style="background:#1f1604" id="colour-box"></div><p>#1f1604</p>
<p>Class number: 18</p>
<div style="background:#2e0b0c" id="colour-box"></div><p>#2e0b0c</p>
<p>Class number: 1</p>
<div style="background:#04040c" id="colour-box"></div><p>#04040c</p>
<p>Class number: 18</p>
<div style="background:#140407" id="colour-box"></div><p>#140407</p>
<p>Class number: 18</p>
<p>Class #17</p>
<div style="background:#2a2927" id="colour-box"></div><p>H: 66 S: 3 L: 16 rgb(42,41,39) H: 39 S: 7 V: 16</p>
<div style="background:#dee5e0" id="colour-box"></div><p>H: 120 S: 8 L: 88 rgb(222,229,224) H: 19 S: 3 V: 89</p>
<div style="background:#373e40" id="colour-box"></div><p>H: 195 S: 9 L: 23 rgb(55,62,64) H: 317 S: 14 V: 25</p>
<div style="background:#2a2f38" id="colour-box"></div><p>H: 216 S: 14 L: 19 rgb(42,47,56) H: 342 S: 25 V: 21</p>
<div style="background:#73767e" id="colour-box"></div><p>H: 224 S: 4 L: 47 rgb(115,118,126) H: 347 S: 8 V: 49</p>
<div style="background:#4c443b" id="colour-box"></div><p>H: 30 S: 12 L: 26 rgb(76,68,59) H: 31 S: 22 V: 29</p>
<div style="background:#1c2126" id="colour-box"></div><p>H: 210 S: 17 L: 12 rgb(28,33,38) H: 334 S: 26 V: 14</p>
<div style="background:#1e1b15" id="colour-box"></div><p>H: 42 S: 16 L: 10 rgb(30,27,21) H: 39 S: 30 V: 11</p>
<div style="background:#232c29" id="colour-box"></div><p>H: 165 S: 13 L: 15 rgb(35,44,41) H: 41 S: 20 V: 17</p>
<p>Average representative: </p>
<div style="background:#474a4a" id="colour-box"></div><p>H: 180 S: 4 L: 28 rgb(71,74,74) H: 61 S: 4 V: 29  Pleasure: 0.2089 Arousal: -0.0659 Dominance: -0.2076</p>
<p>Class #1</p>
<div style="background:#712517" id="colour-box"></div><p>H: 9 S: 66 L: 27 rgb(113,37,23) H: 9 S: 79 V: 44</p>
<div style="background:#491a14" id="colour-box"></div><p>H: 9 S: 60 L: 18 rgb(73,26,20) H: 6 S: 72 V: 28</p>
<div style="background:#2e0b0c" id="colour-box"></div><p>H: 0 S: 64 L: 11 rgb(46,11,12) H: 358 S: 76 V: 18</p>
<p>Average representative: </p>
<div style="background:#4d1812" id="colour-box"></div><p>H: 5 S: 62 L: 19 rgb(77,24,18) H: 6 S: 76 V: 30  Pleasure: 0.3742 Arousal: 0.363 Dominance: 0.015201</p>
<p>Class #2</p>
<div style="background:#ce3e1f" id="colour-box"></div><p>H: 11 S: 74 L: 46 rgb(206,62,31) H: 10 S: 84 V: 80</p>
<div style="background:#462b23" id="colour-box"></div><p>H: 13 S: 35 L: 20 rgb(70,43,35) H: 13 S: 50 V: 27</p>
<p>Average representative: </p>
<div style="background:#8a3421" id="colour-box"></div><p>H: 12 S: 64 L: 33 rgb(138,52,33) H: 10 S: 76 V: 54  Pleasure: 0.539801 Arousal: 0.2886 Dominance: -0.167201</p>
<p>Class #18</p>
<div style="background:#131c1a" id="colour-box"></div><p>H: 180 S: 18 L: 9 rgb(19,28,26) H: 48 S: 32 V: 10</p>
<div style="background:#141310" id="colour-box"></div><p>H: 66 S: 8 L: 7 rgb(20,19,16) H: 45 S: 20 V: 7</p>
<div style="background:#0b1412" id="colour-box"></div><p>H: 182 S: 27 L: 6 rgb(11,20,18) H: 48 S: 45 V: 7</p>
<div style="background:#11131c" id="colour-box"></div><p>H: 224 S: 25 L: 8 rgb(17,19,28) H: 353 S: 39 V: 10</p>
<div style="background:#0c0c0c" id="colour-box"></div><p>H: 0 S: 0 L: 4 rgb(12,12,12) H: 0 S: 0 V: 4</p>
<div style="background:#040404" id="colour-box"></div><p>H: 0 S: 0 L: 1 rgb(4,4,4) H: 0 S: 0 V: 1</p>
<div style="background:#040c09" id="colour-box"></div><p>H: 160 S: 60 L: 3 rgb(4,12,9) H: 39 S: 66 V: 4</p>
<div style="background:#0b0b14" id="colour-box"></div><p>H: 240 S: 27 L: 6 rgb(11,11,20) H: 4 S: 45 V: 7</p>
<div style="background:#0c0c04" id="colour-box"></div><p>H: 60 S: 60 L: 3 rgb(12,12,4) H: 60 S: 66 V: 4</p>
<div style="background:#0c0404" id="colour-box"></div><p>H: 0 S: 60 L: 3 rgb(12,4,4) H: 0 S: 66 V: 4</p>
<div style="background:#1c0c0b" id="colour-box"></div><p>H: 0 S: 43 L: 7 rgb(28,12,11) H: 3 S: 60 V: 10</p>
<div style="background:#140c04" id="colour-box"></div><p>H: 30 S: 75 L: 4 rgb(20,12,4) H: 30 S: 80 V: 7</p>
<div style="background:#1f1604" id="colour-box"></div><p>H: 39 S: 85 L: 7 rgb(31,22,4) H: 40 S: 87 V: 12</p>
<div style="background:#04040c" id="colour-box"></div><p>H: 240 S: 60 L: 3 rgb(4,4,12) H: 4 S: 66 V: 4</p>
<div style="background:#140407" id="colour-box"></div><p>H: 349 S: 75 L: 4 rgb(20,4,7) H: 348 S: 80 V: 7</p>
<p>Average representative: </p>
<div style="background:#0f0d0b" id="colour-box"></div><p>H: 66 S: 11 L: 5 rgb(15,13,11) H: 29 S: 26 V: 5  Pleasure: 0.091701 Arousal: 0.140501 Dominance: 0.045201</p>
<p>Class #3</p>
<div style="background:#b99162" id="colour-box"></div><p>H: 32 S: 38 L: 55 rgb(185,145,98) H: 32 S: 47 V: 72</p>
<div style="background:#765f48" id="colour-box"></div><p>H: 30 S: 24 L: 37 rgb(118,95,72) H: 29 S: 39 V: 46</p>
<div style="background:#bf8627" id="colour-box"></div><p>H: 38 S: 66 L: 45 rgb(191,134,39) H: 37 S: 79 V: 74</p>
<div style="background:#31291f" id="colour-box"></div><p>H: 35 S: 23 L: 16 rgb(49,41,31) H: 33 S: 36 V: 19</p>
<div style="background:#754f13" id="colour-box"></div><p>H: 36 S: 73 L: 26 rgb(117,79,19) H: 36 S: 83 V: 45</p>
<div style="background:#4e3920" id="colour-box"></div><p>H: 34 S: 43 L: 21 rgb(78,57,32) H: 32 S: 59 V: 30</p>
<div style="background:#4c3310" id="colour-box"></div><p>H: 37 S: 66 L: 18 rgb(76,51,16) H: 35 S: 78 V: 29</p>
<div style="background:#322104" id="colour-box"></div><p>H: 37 S: 90 L: 10 rgb(50,33,4) H: 37 S: 92 V: 19</p>
<p>Average representative: </p>
<div style="background:#6c4f26" id="colour-box"></div><p>H: 34 S: 50 L: 28 rgb(108,79,38) H: 35 S: 64 V: 42  Pleasure: 0.4306 Arousal: 0.253801 Dominance: -0.1144</p>
<p>Class #4</p>
<div style="background:#c6bfad" id="colour-box"></div><p>H: 42 S: 18 L: 72 rgb(198,191,173) H: 43 S: 12 V: 77</p>
<div style="background:#d5bb85" id="colour-box"></div><p>H: 41 S: 48 L: 68 rgb(213,187,133) H: 40 S: 37 V: 83</p>
<p>Average representative: </p>
<div style="background:#cdbd99" id="colour-box"></div><p>H: 43 S: 34 L: 70 rgb(205,189,153) H: 41 S: 25 V: 80  Pleasure: 0.607 Arousal: -0.098001 Dominance: -0.528001</p>
<p>Class #5</p>
<div style="background:#e8e0b7" id="colour-box"></div><p>H: 51 S: 49 L: 81 rgb(232,224,183) H: 50 S: 21 V: 90</p>
<p>Average representative: </p>
<div style="background:#e8e0b7" id="colour-box"></div><p>H: 51 S: 49 L: 81 rgb(232,224,183) H: 50 S: 21 V: 90  Pleasure: 0.667201 Arousal: -0.153001 Dominance: -0.616801</p>
<p>Class #6</p>
<div style="background:#90957f" id="colour-box"></div><p>H: 73 S: 10 L: 54 rgb(144,149,127) H: 315 S: 14 V: 58</p>
<p>Average representative: </p>
<div style="background:#90957f" id="colour-box"></div><p>H: 73 S: 10 L: 54 rgb(144,149,127) H: 315 S: 14 V: 58  Pleasure: 0.431 Arousal: -0.0958 Dominance: -0.396</p>
<p>Class #10</p>
<div style="background:#6683a2" id="colour-box"></div><p>H: 211 S: 24 L: 52 rgb(102,131,162) H: 334 S: 37 V: 63</p>
<div style="background:#4f6271" id="colour-box"></div><p>H: 205 S: 19 L: 37 rgb(79,98,113) H: 330 S: 30 V: 44</p>
<div style="background:#7fa2c1" id="colour-box"></div><p>H: 207 S: 34 L: 62 rgb(127,162,193) H: 332 S: 34 V: 75</p>
<div style="background:#434e5b" id="colour-box"></div><p>H: 213 S: 15 L: 31 rgb(67,78,91) H: 336 S: 26 V: 35</p>
<div style="background:#1c5dab" id="colour-box"></div><p>H: 213 S: 74 L: 39 rgb(28,93,171) H: 336 S: 83 V: 67</p>
<p>Average representative: </p>
<div style="background:#507092" id="colour-box"></div><p>H: 212 S: 30 L: 44 rgb(80,112,146) H: 334 S: 45 V: 57  Pleasure: 0.4923 Arousal: 0.093301 Dominance: -0.2892</p>
<p>consoled, docile, protected, sleepy, tranquilized</p>
<p>admired, bold, creative, powerful, vigorous</p>
<p>amazed, awed, fascinated, impressed, infatuated</p>
<p>admired, bold, creative, powerful, vigorous</p>
<p>amazed, awed, fascinated, impressed, infatuated</p>
<p>consoled, docile, protected, sleepy, tranquilized</p>
<p>consoled, docile, protected, sleepy, tranquilized</p>
<p>consoled, docile, protected, sleepy, tranquilized</p>
<p>amazed, awed, fascinated, impressed, infatuated</p>
</body>
</html>
